/*NAV Y HEADER IMAGENES*/
.nav__logo {
  width: 130px;
  height: auto;
  margin: 20px; }

.estilo__imgbackground, .headernavsec {
  background-repeat: no-repeat;
  object-fit: cover;
  align-items: center;
  flex-direction: column;
  background-color: #00000049;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  color: #f0f8ff;
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center; }

.headernavsec {
  background-attachment: fixed;
  height: 100vh; }

.caja__header {
  height: 100vh;
  background-attachment: fixed; }

.nuevo__caja {
  background-image: url(../img/nuevo-mobile.jpg);
  height: 200px;
  background-position: center;
  margin: 32px; }

.accesorios__caja {
  background-image: url(../img/accesorios-img2-mobile.jpg);
  height: 200px;
  background-position: center;
  margin: 32px; }

.celulares__caja {
  background-image: url(../img/tienda-celulares-mobile.jpg);
  height: 300px;
  background-position: left bottom;
  background-attachment: scroll;
  margin: 32px; }

.cajaindex-header {
  background-image: url(../img/cajaindex.jpg); }

.cajacelulares-header {
  background-image: url(../img/cajacelulares.jpg); }

.cajaaccesorios-header {
  background-image: url(../img/cajaaccesorios.jpg); }

.cajacontacto-header {
  background-image: url(../img/cajacontacto.jpg); }

.cajacarrito-header {
  background-image: url(../img/cajacarrito.jpg); }

/*GENERALES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

h1,
h2,
h3 {
  font-weight: 600; }

section {
  padding: 32px; }

footer {
  text-align: center;
  background-color: #000;
  padding: 10px;
  color: #f0f8ff;
  margin-top: 32px; }
  footer span {
    font-size: 16px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    footer span {
      font-size: calc( 16px +  num(12px)-num(16px) *  (100vw - 768px) /  num(1024px)-num(768px)); } }
  @media (min-width: 1024px) {
    footer span {
      font-size: 12px; } }

/* SERVICIOS*/
.main__servicios div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }

/*CARDS*/
.card {
  margin-top: 32px;
  box-shadow: 2px 6px 8px 0 #9090972e;
  border-radius: 0; }
  .card img {
    transition: all .2s ease;
    transition-delay: .1s; }
    .card img:hover {
      transform: scale(1.05); }

.div__h1 h1 {
  font-size: 32px; }

@media (min-width: 768px) and (max-width: 1024px) {
  .div__h1 h1 {
    font-size: calc( 32px +  num(40px)-num(32px) *  (100vw - 768px) /  num(1024px)-num(768px)); } }

@media (min-width: 1024px) {
  .div__h1 h1 {
    font-size: 40px; } }

.div__h1 p {
  color: #c6c6c6; }
  .div__h1 p {
    font-size: 20px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .div__h1 p {
      font-size: calc( 20px +  num(25px)-num(20px) *  (100vw - 768px) /  num(1024px)-num(768px)); } }
  @media (min-width: 1024px) {
    .div__h1 p {
      font-size: 25px; } }

td img {
  width: 100px;
  height: auto; }

@media screen and (min-width: 780px) {
  .celulares__caja {
    background-attachment: fixed; }
  .nuevo__caja {
    background-image: url(../img/nuevo-celulares.jpg); }
  .accesorios__caja {
    background-image: url(../img/accesorios-img2.jpg); }
  .headernavsec {
    height: 50vh; }
  form {
    margin: 0 200px 0 200px; } }

@media screen and (min-width: 992px) {
  .nav__collapse {
    justify-content: flex-end; } }
