.productos__caja {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
}


iframe {
    width: 100%;
}

.buscado__carousel {
    display: none;
}

/*DISPOSITIVOS MAYORES A 780PX*/

@media screen and (min-width: 780px) {
    .celulares__caja {
        background-attachment: fixed;
    }

    .nuevo__caja {
        background-image: url(../img/nuevo-celulares.jpg);

    }

    .accesorios__caja {
        background-image: url(../img/accesorios-img2.jpg);
    }

    .headernavsec {
        height: 50vh;
    }

    form {
        margin: 0 200px 0 200px;
    }

    .productos__caja {
        grid-template-columns: repeat(2, 1fr);
    }

    .buscado__carousel {
        display: block;
    }

    .finalizar {
        top: 10%;
        left:20%;
       
    }
    .contenedor-finalizar {
        width: 500px;
        height: auto;
        margin: 0;
        
}
}


/*DISPOSITIVOS MAYORES A 992PX*/

@media screen and (min-width: 992px) {
    .nav__collapse {
        justify-content: flex-end;
    }

    .productos__caja {
        grid-template-columns: repeat(3, 1fr);
    }
    .finalizar {
        left:30%;
       
    }
}

/*DISPOSITIVOS MAYORES A 1420PX*/

@media screen and (min-width: 1420px) {

    .productos__caja {
        grid-template-columns: repeat(4, 1fr);
    }
}