@media screen and (min-width: 780px) {
    .celulares__caja {
        background-attachment: fixed;
    }

    .nuevo__caja {
        background-image: url(../img/nuevo-celulares.jpg);

    }

    .accesorios__caja {
        background-image: url(../img/accesorios-img2.jpg);
    }

    .headernavsec {
        height: 50vh;
    }

form {
    margin: 0 200px 0 200px;
}
}


@media screen and (min-width: 992px) {
    .nav__collapse {
        justify-content: flex-end;
    }
}