/*NAV Y HEADER IMAGENES*/
.nav__logo {
    width:  130px;
    height: auto;
    margin: 20px;
}

.estilo__imgbackground {
    background-repeat: no-repeat;
    object-fit: cover;
    align-items: center;
    flex-direction: column;
    background-color: #00000049;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    color: $color-fonts;
    height: $height-nav;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.headernavsec {
    @extend .estilo__imgbackground;
        background-attachment: fixed;
        height: $height-nav;
}

.caja__header {
    height: 100vh;
    background-attachment: fixed;
}

.nuevo__caja {
    background-image: url(../img/nuevo-mobile.jpg);
    height: $height-img;
    background-position: center;
    margin: $margin-1;
}

.accesorios__caja {
    background-image: url(../img/accesorios-img2-mobile.jpg);
    height: $height-img;
    background-position: center;
    margin: $margin-1;
}

.celulares__caja {
    background-image: url(../img/tienda-celulares-mobile.jpg);
    height: 300px;
    background-position: left bottom;
    background-attachment: scroll;
    margin: $margin-1;
}


@each $header in cajaindex, cajacelulares, cajaaccesorios, cajacontacto, cajacarrito {
    .#{$header}-header {
        background-image: url(../img/#{$header}.jpg);
    }
}
